<div class="sidebar" [class.opened]="isOpened">
    <div class="logo"><span class="logo-c">Chronicle</span><span class="logo-b">Book</span></div>

    <div class="account">
        <i class="account-icon icon-user"></i>
        <div class="account-name">{{ authService.user.name }}</div>
        <div class="logout" (click)="signOut()">
            <i class="icn icon-log-out"></i>
            <div class="title">Sign out</div>
        </div>
    </div>

    <div class="actions">
        <div class="action">
            <a [routerLink]="['/app']" class="link">
                <i class="action-icon icon-hourglass-o"></i>
                <span class="action-name">Month view</span>
            </a>
        </div>
        <div class="action">
            <a [routerLink]="['/app', '']" class="link">
                <i class="action-icon icon-hourglass"></i>
                <span class="action-name">Year view</span>
            </a>
        </div>
        <div class="action">
            <a [routerLink]="['/app']" class="link">
                <i class="action-icon icon-user"></i>
                <span class="action-name">Account</span>
            </a>
        </div>
    </div>

    <div class="version">v0.1.0</div>

    <i class="oc-icon icon-angle-double-right" (click)="toggleOpenState()"></i>
</div>
