<div class="login">
  <div class="sign-up">
    <div class="content">
      <div class="title">Don't have an account?</div>
      <button (click)="redirectToSignUp()" class="btn btn-center btn-dark">
        Sign up
      </button>
    </div>
  </div>
  <div class="sign-in">
    <div class="content">
      <app-error-message [obs]="this.errorMessage"></app-error-message>
      <div class="title">Sign in</div>
      <form [formGroup]="loginForm">
        <div class="email-block">
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
          <div
            class="error"
            *ngIf="
              loginForm.get('email').invalid && loginForm.get('email').touched
            "
          >
            <div
              class="email-error"
              *ngIf="loginForm.get('email').errors.email"
            >
              This isn't looks like email
            </div>
            <div
              class="email-req-error"
              *ngIf="loginForm.get('email').errors.required"
            >
              Email is required
            </div>
          </div>
        </div>
        <div class="password-block">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <div
            class="error"
            *ngIf="
              loginForm.get('password').invalid &&
              loginForm.get('password').touched
            "
          >
            <div
              class="password-req-error"
              *ngIf="loginForm.get('password').errors.required"
            >
              Password is required
            </div>
          </div>
        </div>

        <button
          type="submit"
          (click)="signIn($event)"
          [disabled]="loginForm.status !== 'VALID' || waiting"
          class="sign-in-btn btn btn-fullsize"
        >
          Sign in
        </button>
      </form>
      <div class="forgot"><a [routerLink]="['/auth', 'forgot']">I forgot my password</a></div>
    </div>
  </div>
</div>
