<div class="entry">
  <div class="container">
    <div class="top">
      <div class="date">
        <div class="line-1">
          <span class="date-day">{{
            entryService.entryCreated | date: "dd"
          }}</span>
          <span class="date-month"
            >{{ entryService.entryCreated | date: "MMMM" }},
          </span>
          <span>{{ entryService.entryCreated | date: "yyyy" }} </span>
        </div>
        <div class="line-2">
          <span class="date-time">
            {{ entryService.entryCreated | date: "h" }}:{{
              entryService.entryCreated | date: "mm"
            }}
            {{ entryService.entryCreated | date: "aa" }}
          </span>
          <span class="date-week-day">{{
            entryService.entryCreated | date: "EEEE"
          }}</span>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="write-block">
        <div
          class="txta txta-no-border txta-no-padding invisible-write"
          #invisible
        ></div>
        <textarea
          class="txta txta-no-border txta-no-padding write"
          placeholder="Write here..."
          [(ngModel)]="entryService.entryText"
          maxlength="10000"
          (input)="resizeTrigger($event)"
        ></textarea>
      </div>
    </div>
  </div>
</div>

<button
  class="action action-ready"
  (click)="entryService.entryId ? update() : create()"
  [disabled]="loading"
>
  <i class="icon-check icn"></i>
</button>
<button class="action action-cancel" (click)="cancel()" [disabled]="loading">
  <i class="icon-times icn"></i>
</button>
<button
  class="action action-delete"
  (click)="entryService.entryId ? deleteEntry() : cancel()"
  [disabled]="loading"
>
  <i class="icon-trash icn"></i>
</button>
