<div class="entry">
  <div class="container">
    <div class="top">
      <div class="date">
        <div class="calendar">
          <div class="line-1" (click)="isCalendarOpened = !isCalendarOpened">
            <span class="date-day">{{
              entryService.entryTime | date: "dd"
            }}</span>
            <span class="date-month"
              >{{ entryService.entryTime | date: "MMMM" }},
            </span>
            <span>&nbsp;{{ entryService.entryTime | date: "yyyy" }} </span>
          </div>
          <div class="calendar-block" *ngIf="isCalendarOpened" #calendar>
            <app-calendar
              (dateChange)="dateChange($event)"
              [selectedDate]="entryService.entryTime"
            ></app-calendar>
          </div>
        </div>

        <div class="line-2">
          <span class="time-selector">
            <span
              class="date-time"
              (click)="isTimeSelectorOpened = !isTimeSelectorOpened"
            >
              {{ entryService.entryTime | date: "h" }}:{{
                entryService.entryTime | date: "mm"
              }}
              {{ entryService.entryTime | date: "aa" }}
            </span>
            <div class="time-selector-block" *ngIf="isTimeSelectorOpened">
              <div class="body">
                <div class="hours">
                  <label for="hours"></label>
                  <input
                    type="number"
                    class="input input-small-padding"
                    #hours
                    id="hours"
                    maxlength="2"
                    min="1"
                    max="12"
                    [value]="
                      this.entryService.entryTime.getHours() % 12 === 0
                        ? 12
                        : this.entryService.entryTime.getHours() % 12
                    "
                    (input)="hoursInputTrigger($event)"
                  />
                </div>
                <div class="minutes">
                  <label for="minutes"></label>
                  <input
                    type="number"
                    class="input input-small-padding minutes-input"
                    #minutes
                    id="minutes"
                    maxlength="2"
                    min="0"
                    max="59"
                    [value]="this.entryService.entryTime.getMinutes()"
                    (input)="minutesInputTrigger($event)"
                  />
                </div>
                <div class="am-pm">
                  <label for="pm">AM</label>
                  <input
                    type="radio"
                    id="am"
                    name="ampm"
                    [checked]="entryService.entryTime.getHours() < 12"
                    (input)="amTrigger()"
                    #am
                  />
                  <label for="pm">PM</label>
                  <input
                    type="radio"
                    id="pm"
                    name="ampm"
                    [checked]="entryService.entryTime.getHours() >= 12"
                    (input)="pmTrigger()"
                    #pm
                  />
                </div>
              </div>
            </div>
          </span>
          <span class="date-week-day">{{
            entryService.entryTime | date: "EEEE"
          }}</span>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="title-block">
        <input
          type="text"
          maxlength="180"
          class="input input-no-padding input-no-border title"
          placeholder="Title... (optional)"
          [(ngModel)]="entryService.entryTitle"
        />
      </div>
      <div class="write-block">
        <div
          class="txta txta-no-border txta-no-padding invisible-write"
          #invisible
        ></div>
        <textarea
          class="txta txta-no-border txta-no-padding write"
          placeholder="Write here..."
          [(ngModel)]="entryService.entryText"
          maxlength="10000"
          style="height: 1.5rem;"
          (input)="resizeTrigger($event)"
        ></textarea>
      </div>
    </div>
  </div>
</div>

<button
  class="action action-ready"
  (click)="entryService.entryId ? update() : create()"
  [disabled]="loading"
>
  <i class="icon-check icn"></i>
</button>
<button class="action action-cancel" (click)="cancel()" [disabled]="loading">
  <i class="icon-times icn"></i>
</button>
<button
  class="action action-delete"
  (click)="entryService.entryId ? deleteEntry() : cancel()"
  [disabled]="loading"
>
  <i class="icon-trash icn"></i>
</button>
