@import "../../../scss/colors.scss";

.entry {
    background-color: $dark;
    min-height: 100vh;

    .container {
        padding: 50px 200px;

        .top {
            .date {
                position: relative;

                .calendar {
                    position: relative;
                    display: inline-flex;

                    .line-1 {
                        margin-bottom: 5px;
                        border-radius: 10px;
                        display: inline-flex;
                        cursor: pointer;
                        padding: 5px;
                        transition: background-color 0.08s;
                        user-select: none;

                        &:hover {
                            background-color: $white25;
                        }
                    }

                    .calendar-block {
                        position: absolute;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: $ldark;
                        box-shadow: 0 6px 6px rgba($color: #000000, $alpha: 0.3);
                        z-index: 20;
                        left: 50%;
                        top: 2.8rem;
                        transform: translateX(-50%);

                        &::before {
                            content: "";
                            position: absolute;
                            top: -20px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 20px;
                            height: 20px;
                            border: 10px solid transparent;
                            border-bottom: 10px solid $ldark;
                        }
                    }
                }

                font-size: 1.3rem;
                &-day {
                    color: $dblue;
                    font-weight: 600;
                }

                &-month {
                    margin-left: 5px;
                }

                &-time {
                    color: $dblue;
                    font-weight: 600;
                    padding: 0 5px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background-color 0.08s;
                    user-select: none;

                    &:hover {
                        background-color: $white25;
                    }
                }

                .time-selector {
                    position: relative;

                    &-block {
                        position: absolute;
                        top: 2.8rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 20;
                        padding: 20px;
                        background-color: $ldark;
                        border-radius: 10px;
                        min-width: 100px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -20px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 20px;
                            height: 20px;
                            border: 10px solid transparent;
                            border-bottom: 10px solid $ldark;
                        }

                        .body {
                            .minutes-input {
                                margin: 10px 0;
                            }

                            label[for="pm"],
                            label[for="am"] {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &-week-day {
                    font-size: 0.9rem;
                    color: $white50;
                    margin-left: 5px;
                }
            }
        }

        .bottom {
            margin-top: 10px;
            display: flex;
            position: relative;

            .text {
                flex: 0 0 75%;
            }

            .title-block {
                .title {
                    font-weight: 600;
                    font-size: 1.3rem;
                    margin-bottom: 8px;
                }
            }

            .write-block {
                position: relative;

                .invisible-write {
                    word-wrap: break-word;
                    white-space: pre-wrap;
                    visibility: hidden;
                    position: absolute;
                    top: -9999px;
                    width: 100%;
                    overflow: hidden;
                    font-size: 1rem;
                }

                .write {
                    font-size: 1rem;
                }
            }

            .tags-block {
                flex: 0 0 25%;
                margin-left: 20px;
                width: 100%;

                .tag-input {
                    margin-bottom: 10px;
                    label {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    input {
                        margin-top: 5px;
                    }
                }

                .tags-list {
                    .title {
                        font-size: 1.2rem;
                        float: left;
                        margin-top: 0.45rem;
                        margin-right: 3px;
                    }

                    .list {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;

                        .tag {
                            padding: 9px 18px 5px 5px;
                            border-radius: 10px;
                            background-color: $l2dark;
                            margin: 3px;
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 10rem;

                            &:hover {
                                background-color: $l3dark;
                            }

                            .delete {
                                position: absolute;
                                font-size: 0.55rem;
                                top: 0.4rem;
                                right: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.action {
    height: 2.9rem;
    width: 2.9rem;
    position: fixed;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;

    &:disabled {
        background-color: $l3dark;
        cursor: not-allowed;

        &:hover {
            background-color: $l3dark;
        }
    }

    .icn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
    }

    &-ready {
        top: 0.7rem;
        right: 0.7rem;
        background-color: $dgreen;

        &:hover {
            background-color: $green;
        }
    }

    &-cancel {
        background-color: $light;
        bottom: 4.3rem;
        right: 0.7rem;

        .icn {
            font-size: 1.4rem;
        }

        &:hover {
            background-color: $llight;
        }
    }

    &-delete {
        background-color: $red;
        bottom: 0.7rem;
        right: 0.7rem;

        &:hover {
            background-color: $lred;
        }
    }
}
