<div class="register">
  <div class="sign-up">
    <div class="content">
      <div class="title">Create new account</div>
      <form [formGroup]="registerForm">
        <div class="username-block">
          <input
            type="text"
            name="username"
            id="username"
            formControlName="username"
            placeholder="Username"
          />
          <div
            class="error"
            *ngIf="
              registerForm.get('username').invalid &&
              registerForm.get('username').touched
            "
          >
            <div
              class="username-length-error"
              *ngIf="registerForm.get('username').errors.minlength"
            >
              Username must be at least 3 characters length. Current length:
              {{ registerForm.get("username").errors.minlength.actualLength }}
            </div>
            <div
              class="username-req-error"
              *ngIf="registerForm.get('username').errors.required"
            >
              Username is required
            </div>
          </div>
        </div>
        <div class="email-block">
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
          <div
            class="error"
            *ngIf="
              registerForm.get('email').invalid &&
              registerForm.get('email').touched
            "
          >
            <div
              class="email-error"
              *ngIf="registerForm.get('email').errors.email"
            >
              This isn't looks like email
            </div>
            <div
              class="email-req-error"
              *ngIf="registerForm.get('email').errors.required"
            >
              Email is required
            </div>
          </div>
        </div>
        <div class="password-block">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <div
            class="error"
            *ngIf="
              registerForm.get('password').invalid &&
              registerForm.get('password').touched
            "
          >
            <div
              class="password-length-error"
              *ngIf="registerForm.get('password').errors.minlength"
            >
              Password must be at least 8 characters length. Current length:
              {{ registerForm.get("password").errors.minlength.actualLength }}
            </div>
            <div
              class="password-req-error"
              *ngIf="registerForm.get('password').errors.required"
            >
              Password is required
            </div>
          </div>
        </div>
        <div class="again-block">
          <input
            type="password"
            name="again"
            id="again"
            placeholder="Password again"
            formControlName="again"
          />
          <div
            class="error"
            *ngIf="
              registerForm.get('again').invalid &&
              registerForm.get('again').touched
            "
          >
            <div
              class="again-req-error"
              *ngIf="registerForm.get('again').errors.required"
            >
              You must repeat your password
            </div>
          </div>
        </div>

        <app-button
          type="submit"
          (click)="signUp($event)"
          [disabled]="registerForm.status !== 'VALID'"
          [fullsize]="true"
          class="sign-in-btn"
          >Create account</app-button
        >
      </form>
    </div>
  </div>
  <div class="sign-in">
    <div class="content">
      <div class="title">Already have an account?</div>
      <app-button (click)="redirectToSignIn()" color="dark" [center]="true"
        >Sign in</app-button
      >
    </div>
  </div>
</div>
