<div class="calendar">
  <div class="top">
    <div class="year-panel">
      <i class="icon-chevron-right prev" (click)="prevYear()"></i>
      <div class="year">{{ selectedDate | date: "yyyy" }}</div>
      <i class="icon-chevron-right next" (click)="nextYear()"></i>
    </div>
    <div class="month-panel">
      <i class="icon-chevron-right prev" (click)="prevMonth()"></i>
      <div class="month">{{ selectedDate | date: "MMMM" }}</div>
      <i class="icon-chevron-right next" (click)="nextMonth()"></i>
    </div>
  </div>
  <div class="bottom">
    <div class="week-days">
      <div class="week-day">Su</div>
      <div class="week-day">Mo</div>
      <div class="week-day">Tu</div>
      <div class="week-day">We</div>
      <div class="week-day">Th</div>
      <div class="week-day">Fr</div>
      <div class="week-day">Sa</div>
    </div>
    <div class="days">
      <div
        class="day"
        *ngFor="let day of days"
        [class.empty-day]="day <= 0"
        [class.selected]="day === selectedDate.getDate()"
        [class.have-entries]="checkDayOccupied(day) && showOccupiedDays"
        (click)="selectDay($event, day)"
      >
        {{ day <= 0 ? "" : day }}
      </div>
    </div>

    <div class="today" (click)="today()">Today</div>
  </div>
</div>
