@import "../../../../scss/colors.scss";

.entry {
    background-color: $ldark;
    padding: 20px 30px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 5px 4px rgba($color: #000, $alpha: 0.25);

    &:hover {
        background-color: $l2dark;
        box-shadow: 0 6px 5px rgba($color: #000, $alpha: 0.3);
    }

    .date {
        font-size: 1.3rem;
        &-day {
            color: $dblue;
            font-weight: 600;
        }

        &-month {
            margin-left: 5px;
        }

        &-time {
            color: $dblue;
            font-weight: 600;
        }

        &-week-day {
            font-size: 0.9rem;
            color: $white50;
            margin-left: 5px;
        }
    }

    .title-block {
        font-size: 1.3rem;
        margin: 8px 0;
        width: 100%;
        overflow: hidden;

        .entry-title {
            font-weight: 600;
            text-overflow: ellipsis;
            max-height: 1.15em;
        }
    }

    .text-preview-block {
        margin-top: 5px;
        overflow: hidden;
        font-size: 1rem;

        .text-preview {
            text-overflow: ellipsis;
            word-wrap: break-word;
            max-height: 2.25em;
            white-space: pre-line;
        }
    }

    & + .entry {
        margin-top: 25px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-top: 7px;
        max-height: 2em;

        .tag {
            background-color: $l2dark;
            padding: 4px 7px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin: 3px;


            .tag-icon {
                color: $white50;
                margin-right: 5px;
            }
        }
    }
}
