<div class="search">
  <div class="container">
    <h1 class="title">
      Entries found by {{ isTagSearch ? "tag" : "query" }} "{{ search }}"
    </h1>

    <div class="entries" *ngIf="this.searchService.entries && !isLoading" @inOutList>
      <div
        class="entry"
        *ngFor="let entry of this.searchService.entries"
        (click)="selectedEntry = entry"
      >
        <app-entry [entry]="entry"></app-entry>
      </div>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
  <div class="side">
    <div class="side-container">
      <div class="search-input-block" *ngIf="!isTagSearch">
        <label for="search-input"></label>
        <input
          type="text"
          id="search-input"
          class="input input-fill input-dark search-input"
          placeholder="Write another query"
          [(ngModel)]="searchInput"
          (keydown.Enter)="updateSearchPage()"
        />
      </div>
      <div class="calendar">
        <div class="year-panel">
          <i class="icon-chevron-right prev" (click)="prevYear()"></i>
          <div class="year">{{ date | date: "yyyy" }}</div>
          <i class="icon-chevron-right next" (click)="nextYear()"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entry-modal
  *ngIf="selectedEntry"
  [entry]="selectedEntry"
  (onClose)="closeEntry()"
  (onDelete)="selectedEntry = undefined"
></app-entry-modal>
