@import "../../../scss/colors.scss";

.search {
    display: flex;

    .container {
        padding: 50px 20px 30px 80px;
        flex: 0 0 80%;

        .entries {
            .entry + .entry {
                margin-top: 20px;
            }
        }
    }

    .side {
        flex: 0 0 20%;
        padding: 0 20px;

        .search-input-block {
            margin-top: 130px;
        }

        .mode-selector {
            margin-top: 20px;
            .mode-block {
                input[type="radio"] {
                    position: absolute;
                    left: -9999px;
                }

                input[type="radio"]:checked ~ label {
                    background-color: $dblue;

                    &:hover {
                        background-color: $blue;
                    }
                }

                label {
                    display: block;
                    width: 100%;
                    background-color: $ldark;
                    padding: 8px 12px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $l2dark;
                    }
                }

                & + .mode-block {
                    margin-top: 6px;
                }
            }
        }

        .calendar {
            position: relative;
            margin-top: 25px;

            .year-panel {
                text-align: center;
                display: flex;
                justify-content: space-between;
                width: 70%;
                margin: 0 auto 7px;

                .prev,
                .next {
                    font-size: 1.3rem;
                    padding: 5px 5px;
                    cursor: pointer;
                    border-radius: 10px;
                    z-index: 10;
                    position: relative;

                    &:hover {
                        background-color: $white25;
                    }
                }

                .prev {
                    transform: rotate(180deg);
                }

                .year {
                    z-index: 10;
                    position: relative;
                    padding: 0 7px;
                    font-size: 1.6rem;
                    cursor: pointer;
                    border-radius: 10px;
                    font-weight: 600;
                    line-height: 2rem;

                    &:hover {
                        background-color: $white25;
                    }
                }
            }

            .month-panel {
                text-align: center;
                display: flex;
                justify-content: space-between;
                width: 82%;
                margin: 0 auto 7px;

                .prev,
                .next {
                    font-size: 1.5rem;
                    line-height: 1.7rem;
                    padding: 6px 6px;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: $white25;
                    }
                }

                .prev {
                    transform: rotate(180deg);
                }

                .month {
                    padding: 0 7px;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: $white25;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023.98px) {
    @import "../../../scss/colors.scss";

    .search {
        flex-direction: column-reverse;
        .container {
            padding: 25px 20px 20px 20px;
        }

        .side {
            flex: 0 0 20%;
            padding: 0 100px;

            .search-input-block {
                margin-top: 40px;
            }

            .calendar {
                .year-panel {
                    width: 50%;
                }

                .month-panel {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    @import "../../../scss/colors.scss";

    .search {
        .side {
            flex: 0 0 20%;
            padding: 0 20px;

            .search-input-block {
                margin-top: 40px;
            }

        }
    }
}
