@import "../../../scss/colors.scss";

.year-page {
    overflow-x: hidden;
    
    .container {
        padding: 50px 100px;

        .year-block {
            position: relative;

            .year-number {
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 15px;
            }

            .year-view {
                .top {
                    width: 1184px;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: repeat(12, 1fr);
                    color: $white75;
                    text-align: center;
                    margin: 0 auto 10px;
                }

                .main {
                    display: grid;
                    grid-template-rows: repeat(7, 18px);
                    grid-template-columns: repeat(54, 18px);
                    column-gap: 4px;
                    row-gap: 4px;
                    grid-auto-flow: column;
                    width: 1184px;
                    margin: 0 auto;

                    .day-cell:not(.empty) {
                        background-color: $ldark;
                        border-radius: 3px;
                        box-shadow: 0 1px 0 rgba($color: #000000, $alpha: 0.5);
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            box-shadow: inset 0 20px 0 rgba($color: #fff, $alpha: 0.2);

                            .hover {
                                display: block;
                            }
                        }

                        &.darkest {
                            background-color: $d2blue;
                        }
                        &.dark {
                            background-color: $dblue;
                        }
                        &.normal {
                            background-color: $blue;
                        }
                        &.light {
                            background-color: $lblue;
                        }

                        &.selected {
                            border: 2px $dgreen solid;
                        }

                        .hover {
                            position: absolute;
                            top: -60px;
                            z-index: 30;
                            width: 220px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: rgba($color: #000, $alpha: 0.75);
                            display: none;
                            user-select: none;

                            &:hover {
                                display: none;
                            }

                            &::before {
                                content: '';
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-top: 10px solid rgba($color: #000, $alpha: 0.75);
                                position: absolute;
                                bottom: -20px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }

        .entries {
            margin-top: 30px;

            .entry + .entry {
                margin-top: 10px;
            }
        }

        .not-select, .no-entries-on-selected {
            font-size: 2rem;
            font-weight: 600;
            margin-top: 30px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1400px) {
    .year-page {
        .container {
            .year-block {
                .year-view {
                    .top {
                        width: 920px;
                    }
    
                    .main {
                        grid-template-rows: repeat(9, 18px);
                        grid-template-columns: repeat(42, 18px);
                        width: 920px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 1100px) {
    .year-page {
        .container {
            .year-block {
                .year-view {
                    .top {
                        width: 568px;
                    }
    
                    .main {
                        grid-template-rows: repeat(15, 18px);
                        grid-template-columns: repeat(26, 18px);
                        width: 568px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .year-page {
        .container {
            padding: 40px 30px;
            .year-block {
                .year-view {
                    .top {
                        width: 414px;
                    }
    
                    .main {
                        grid-template-rows: repeat(21, 18px);
                        grid-template-columns: repeat(19, 18px);
                        width: 414px;
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 550px) {
    .year-page {
        .container {
            .year-block {
                .year-view {
                    .top {
                        width: 260px;
                        font-size: 0.8rem;
                        grid-template-columns: repeat(12, 18px);
                        column-gap: 4px;
                    }
    
                    .main {
                        grid-template-rows: repeat(30, 18px);
                        grid-template-columns: repeat(14, 18px);
                        width: 304px;

                        .day-cell:not(.empty) {
                            .hover {
                                width: 170px;
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 400px) {
    .year-page {
        .container {
            .year-block {
                .year-view {
                    .top {
                        width: 238px;
                        font-size: 0.6rem;
                        grid-template-columns: repeat(12, 18px);
                        column-gap: 2px;
                    }

                    .main {
                        grid-template-rows: repeat(40, 18px);
                        grid-template-columns: repeat(11, 18px);
                        width: 234px;

                        .day-cell:not(.empty) {
                            .hover {
                                width: 130px;
                            }
                        }
                    }
                }
            }
        }
    }   
}