<div class="year-page">
  <div class="container">
    <div class="year-block">
      <div class="year-number">{{ selectedYear | date: "yyyy" }}</div>
      <div class="year-view">
        <div class="top">
          <div class="month">Jan</div>
          <div class="month">Feb</div>
          <div class="month">Mar</div>
          <div class="month">Apr</div>
          <div class="month">May</div>
          <div class="month">Jun</div>
          <div class="month">Jul</div>
          <div class="month">Aug</div>
          <div class="month">Sep</div>
          <div class="month">Oct</div>
          <div class="month">Nov</div>
          <div class="month">Dec</div>
        </div>
        <div class="main">
          <div
            class="day-cell"
            *ngFor="let num of days; let i = index"
            [class.no-entries]="num"
            [class.darkest]="maxInDay / num <= 1.5"
            [class.dark]="maxInDay / num <= 2.5 && maxInDay / num > 1.5"
            [class.normal]="maxInDay / num <= 4 && maxInDay / num > 2.5"
            [class.light]="maxInDay / num > 4 && num !== 0"
            [class.empty]="num === -1"
            (click)="onDayClick($event, i)"
          >
            <div class="hover" *ngIf="num >= 0">
              <b
                >{{ num ? num : "No" }} {{ num === 1 ? "entry" : "entries" }}</b
              >
              on {{ getDayDate(i) | date }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="entries" *ngIf="selectedDate">
      <div
        class="entry"
        *ngFor="let entry of entriesOnSelected"
        (click)="selectedEntry = entry"
      >
        <app-entry [entry]="entry"></app-entry>
      </div>
      <div
        class="no-entries-on-selected"
        *ngIf="entriesOnSelected.length === 0"
      >
        No entries found on this day
      </div>
    </div>
    <div class="not-select" *ngIf="!selectedDate">
      Select day from grid cells over this text
    </div>
  </div>
</div>

<app-entry-modal
  *ngIf="selectedEntry"
  [entry]="selectedEntry"
  (onClose)="closeEntry()"
  (onDelete)="selectedEntry = undefined"
></app-entry-modal>
