@import "../../scss/colors.scss";

.app-page {
    .container {
        margin-right: 320px;
        padding: 60px 70px;

        .entries {
            .entry {
                background-color: $ldark;
                padding: 20px 30px;
                border-radius: 10px;
                overflow: hidden;
                max-height: 170px;
                cursor: pointer;
                transition: background-color 0.2s, box-shadow 0.2s;
                box-shadow: 0 5px 4px rgba($color: #000, $alpha: 0.25);

                &:hover {
                    background-color: $l2dark;
                    box-shadow: 0 6px 5px rgba($color: #000, $alpha: 0.3);
                }

                .date {
                    font-size: 1.3rem;
                    &-day {
                        color: $dblue;
                        font-weight: 600;
                    }

                    &-month {
                        margin-left: 5px;
                    }

                    &-time {
                        color: $dblue;
                        font-weight: 600;
                    }

                    &-week-day {
                        font-size: 0.9rem;
                        color: $white50;
                        margin-left: 5px;
                    }
                }

                &-title {
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin: 8px 0;
                    text-overflow: ellipsis;
                    max-height: 1.7rem;
                    width: 100%;
                    overflow: hidden;
                }

                .text-preview {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-wrap: break-word;
                    max-height: 2.3rem;
                    white-space: pre-line;
                    margin-top: 5px;
                }

                & + .entry {
                    margin-top: 25px;
                }

                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;
                    margin-top: 7px;
                    max-height: 2rem;

                    .tag {
                        background-color: $l2dark;
                        padding: 4px 7px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        margin: 3px;

                        .tag-icon {
                            color: $white50;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .side {
        width: 320px;
        height: 100vh;
        background-color: $dark;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: -5px 2px 6px rgba($color: #000, $alpha: 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .calendar {
            margin: 0 auto;
            margin-top: 50px;
        }

        .btn-new-entry {
            margin-bottom: 40px;
            font-weight: 600;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000, $alpha: 0.35);

    .modal {
        position: absolute;
        width: 50vw;
        height: 80vh;
        background-color: $ldark;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55px 30px 40px;
        border-radius: 10px;
        box-shadow: 0 6px 6px rgba($color: #000, $alpha: 0.3);

        .date {
            font-size: 1.3rem;
            margin-bottom: 15px;

            &-day {
                color: $dblue;
                font-weight: 600;
            }

            &-month {
                margin-left: 5px;
            }

            &-time {
                color: $dblue;
                font-weight: 600;
            }

            &-week-day {
                font-size: 0.9rem;
                color: $white50;
                margin-left: 5px;
            }
        }

        .title {
            font-size: 1.3rem;
            font-weight: 600;
            word-wrap: break-word;
            max-height: 7.8%;
            padding: 3px 0;
            overflow: auto;
            line-height: 1.6rem;
        }

        .text {
            margin-top: 9px;
            overflow-y: auto;
            white-space: pre-wrap;
            max-height: 80%;
            word-wrap: break-word;
            padding: 3px 0;   
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 7px;
            max-height: 8%;
            overflow-y: auto;

            .tag {
                background-color: $l2dark;
                padding: 4px 7px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                margin: 3px;
                transition: background-color 0.1s;
                cursor: pointer;

                &:hover {
                    background-color: $l3dark;
                }

                .tag-icon {
                    color: $white50;
                    margin-right: 5px;
                }
            }
        }

        .close {
            position: absolute;
            top: 20px;
            right: 25px;
            cursor: pointer;
            color: $white75;
            padding: 5px;

            &:hover {
                color: #fff;
            }
        }

        .edit {
            position: absolute;
            top: 20px;
            left: 25px;
            cursor: pointer;
            color: $white75;
            padding: 5px;

            &:hover {
                color: #fff;
            }
        }

        .delete {
            position: absolute;
            top: 20px;
            left: 60px;
            cursor: pointer;
            color: $white75;
            padding: 5px;

            &:hover {
                color: $red;
            }
        }
    }
}
