@import "../../scss/colors.scss";

.app-page {
    .container {
        margin-right: 320px;
        padding: 60px 70px;

        .entries {
            .entry + .entry {
                margin-top: 20px;
            }
        }
    }

    .side {
        width: 320px;
        height: 100vh;
        background-color: $dark;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: -5px 2px 6px rgba($color: #000, $alpha: 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;

        .search-block {
            z-index: 20;
            position: relative;

            .mode-selector {
                display: none;
                position: absolute;
                width: 100%;
                bottom: 30px;
                transform: translateY(100%);

                .mode-block {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 30;

                    &:last-child {
                        label {
                            border-radius: 0 0 10px 10px;
                        }
                    }

                    & + .mode-block {
                        border-top: 1px solid $l3dark;
                    }

                    input[type="radio"] {
                        position: absolute;
                        left: 9999px;

                        &:checked ~ label {
                            background-color: $dblue;

                            &:hover {
                                background-color: $blue;
                            }
                        }
                    }

                    label {
                        cursor: pointer;
                        display: block;
                        position: relative;
                        width: 100%;
                        padding: 8px 12px;
                        background-color: $l2dark;

                        &:hover {
                            background-color: $l3dark;
                        }
                    }
                }
            }

            &.active > .search-input {
                border-radius: 10px 10px 0 0;
            }

            &.active > .mode-selector {
                display: block;
            }
        }

        .oc-icon {
            display: none;
        }

        .top {
            padding: 10px;
            .search-input {
                margin-bottom: 30px;
            }

            .calendar {
                margin: 0 auto;
            }
        }

        .btn-new-entry {
            margin-bottom: 40px;
            font-weight: 600;
        }
    }
}

.error {
    position: fixed;
    width: 70vw;
    z-index: 75;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 
    0 5px 3px rgba($color: #000000, $alpha: 0.6), 
    0 -5px 3px rgba($color: #000000, $alpha: 0.6);
}

@media screen and (max-width: 820px) {
    .app-page {
        .container {
            margin-right: 0;
            padding: 50px 20px;
        }
        .side {
            right: -320px;
            transition: right 0.3s, width 0.2s;

            .oc-icon {
                display: block;
                font-size: 1.2rem;
                transform: rotate(180deg);
                position: absolute;
                left: -45px;
                top: 10px;
                padding: 8px 8px;
                border-radius: 10px;
                transition: transform 0.3s, background-color 0.3s;
            }

            &.opened {
                right: 0px;

                .oc-icon {
                    transform: rotate(0deg);
                    background-color: $dblue;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .app-page {
        .side {
            width: 260px;
            right: -260px;

            .oc-icon {
                left: -35px;
            }
        }
    }

    .backdrop {
        .modal {
            width: 85vw;
        }
    }
}
