<div class="app-page">
  <div class="container">
    <div class="entries" *ngIf="!isLoading">
      <div
        class="entry"
        *ngFor="let entry of entriesService.getEntriesByDate(selectedDate)"
        (click)="selectEntry(entry)"
      >
        <app-entry [entry]="entry"></app-entry>
      </div>
    </div>

    <app-loader *ngIf="isLoading"></app-loader>
  </div>
  <div class="side" [class.opened]="isSideOpened" #side>
    <i class="oc-icon icon-angle-double-right" (click)="toggleSideState()"></i>
    <div class="top">
      <div class="search-block">
        <label for="search"></label>
        <input
          type="text"
          class="input input-fullsize input-fill input-dark search-input"
          id="search"
          placeholder="Search by entries..."
          (keydown.Enter)="navigateToSearch()"
          [(ngModel)]="search"
          autocomplete="off"
          (focus)="setActive($event)"
        />
        <div class="mode-selector">
          <div class="month-mode-block mode-block">
            <input
              type="radio"
              name="mode"
              id="month-mode"
              [checked]="searchMode === 'month'"
              (input)="searchMode = 'month'"
            />
            <label for="month-mode">Search by month</label>
          </div>
          <div class="year-mode-block mode-block">
            <input
              type="radio"
              name="mode"
              id="year-mode"
              [checked]="searchMode === 'year'"
              (input)="searchMode = 'year'"
            />
            <label for="year-mode">Search by year</label>
          </div>
        </div>
      </div>
      <app-calendar
        class="calendar"
        [selectedDate]="selectedDate"
        (dateChange)="dateChange($event)"
      ></app-calendar>
    </div>
    <button
      class="btn btn-blue btn-center btn-icon btn-new-entry"
      (click)="navigateToEntry()"
    >
      <i class="icon-plus icn"></i>
      New entry
    </button>
  </div>
</div>

<app-entry-modal
  *ngIf="selectedEntry"
  [entry]="selectedEntry"
  (onClose)="closeEntry($event)"
  (onDelete)="deleteEntry()"
></app-entry-modal>
