<div class="app-page">
  <div class="container">
    <div class="entries">
      <div class="entry" *ngFor="let entry of entriesService.getEntriesByDate(selectedDate)" (click)="selectEntry(entry)">
        <div class="date">
          <span class="date-day">{{ entry.time | date: "dd" }}</span>
          <span class="date-month">{{ entry.time | date: "MMMM" }},</span>
          <span class="date-time">
            {{ entry.time | date: "h" }}:{{
              entry.time | date: "mm"
            }}
            {{ entry.time | date: "aa" }},
          </span>
          <span>{{ entry.time | date: "yyyy" }} </span>
          <span class="date-week-day">{{
            entry.time | date: "EEEE"
          }}</span>
        </div>

        <div class="entry-title" *ngIf="entry.title">
          {{ entry.title }}
        </div>

        <div class="text-preview">
          {{ entry.text }}
        </div>

        <div class="tags" *ngIf="entry.tags">
          <span class="tag" *ngFor="let tag of entry.tags"><i class="tag-icon icon-tag"></i>{{tag}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="side" [class.opened]="isSideOpened" #side>
    <i class="oc-icon icon-angle-double-right" (click)="toggleSideState()"></i>
    <app-calendar
      class="calendar"
      [selectedDate]="selectedDate"
      (dateChange)="dateChange($event)"
      [occupiedDays]="occupiedDays"
    ></app-calendar>
    <button
      class="btn btn-blue btn-center btn-icon btn-new-entry"
      (click)="navigateToEntry()"
    >
      <i class="icon-plus icn"></i>
      New entry
    </button>
  </div>
</div>

<div class="backdrop" *ngIf="selectedEntry" (click)="closeEntry($event)">
  <div class="modal">
      <i class="icon-times close" (click)="closeEntry($event)"></i>
      <i class="icon-pencil edit" (click)="navigateToEditEntry()"></i>
      <i class="icon-trash delete" (click)="deleteEntry()"></i>
    <div class="date">
      <span class="date-day">{{ selectedEntry.time | date: "dd" }}</span>
      <span class="date-month"
        >{{ selectedEntry.time | date: "MMMM" }},</span
      >
      <span class="date-time">
        {{ selectedEntry.time | date: "h" }}:{{
          selectedEntry.time | date: "mm"
        }}
        {{ selectedEntry.time | date: "aa" }},
      </span>
      <span>{{ selectedEntry.time | date: "yyyy" }} </span>
      <span class="date-week-day">{{
        selectedEntry.time | date: "EEEE"
      }}</span>
    </div>
    <div class="title" *ngIf="selectedEntry.title">
      {{ selectedEntry.title }}
    </div>
    <div class="text">{{ selectedEntry.text }}</div>
    <div class="tags" *ngIf="selectedEntry.tags">
      <span class="tag" *ngFor="let tag of selectedEntry.tags"><i class="tag-icon icon-tag"></i>{{tag}}</span>
    </div>
  </div>
</div>
