<div class="forgot-password">
  <div class="content">
    <div class="title">Reset passoword</div>
    <app-error-message [obs]="errorMessage"></app-error-message>
    <form>
      <div class="email-block">
        <input
          type="email"
          class="input"
          placeholder="Your email"
          [formControl]="email"
        />
        <div class="error" *ngIf="!email.valid && email.touched">
          <div class="email-error" *ngIf="email.errors.required">
            Email is required
          </div>
          <div class="email-error-req" *ngIf="email.errors.email">
            This isn't looks like email
          </div>
        </div>
      </div>

      <button class="btn btn-center" type="submit" (click)="sendEmail()" [disabled]="!email.valid">Send reset email</button>
    </form>
  </div>
</div>
