$darkest: #080b16;
$dark: #0e1020;
$ldark: #151729;
$l2dark: #272C48;
$l3dark: #324064;
$blue: #4b7bec;
$dblue: #3867d6;
$white75: rgba($color: #fff, $alpha: 0.75);
$white50: rgba($color: #fff, $alpha: 0.5);
$white25: rgba($color: #fff, $alpha: 0.25);
